<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>LuisTec</title>

    <style>
        /* Estilo personalizado para el encabezado */
        .custom-header {
            background-color: red;
        }

        /* Estilo personalizado para el contenido del formulario */
        .custom-form-label {
            color: rgb(0, 0, 0);
        }

        /* Otros estilos personalizados según sea necesario */
    </style>
</head>
<body>
    <div data-role="page">
        <div data-role="header" data-position="fixed" class="custom-header">
            <h1>LuisTec Soporte Tecnico</h1>
            <div data-role="navbar">
            </div>
        </div>

        <div data-role="content">


            <form action="/<%= product.barcode %>" method="POST">
                <div data-role="content" data-theme="a" > 
                <h3>Folio: <%= product.barcode %></h3>
                <p>Cliente: <%= product.client %></p>
                <p>Marca: <%= product.brand %></p>
                <p>Modelo: <%= product.model %></p>
                <p>Problema: <%= product.description %></p>
                <p>Costo reparacion: <%= product.cost %></p>
                </div>

                <label for="txt_description" class="custom-form-label">Problema:</label>
                <input type="text" name="description" id="txt_description" placeholder="Descripción" 
                value="<%= product.description %>">

                <label for="txt_cost" class="custom-form-label">Costo de reparacion:</label>
                <input type="text" name="cost" id="txt_cost" placeholder="Costo" value="<%= product.cost %>">

                <label for="submit-6" class="custom-form-label">Acciones</label>
                <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all 
                        " style="color: rgb(0, 0, 0);">Guardar</button>
                <a href="delete/<%= product.barcode %>" class="ui-shadow ui-btn ui-corner-all" style="color: rgb(254, 0, 0);">Eliminar</a>

                <a href="/" class="ui-btn ui-btn-a ui-corner-all ">Cancelar</a>
            </form>
        </div>

        <div data-role="footer">
            <h5 style="color: rgb(0, 0, 0);"> Luisivmaraz 03 </h5>
        </div>
    </div>
</body>
</html>
