<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>LuisTec</title>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>LuisTec Soporte Tecnico</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" class="ui-btn-active">En mantenimiento</a></li>
                    <li><a href="/agregar">Registrar equipos</a></li>
                </ul>
            </div>
        </div>

        <div data-role="content">

            <ul data-role="listview" data-inset="true">
                <% products.forEach((product) => { %>
                    <li>
                        <a href="#collapsible<%= product.barcode %>" data-rel="popup">
                            <h2>Folio: <%= product.barcode %></h2>
                            <p>Problema: <%= product.description %></p>
                            <p>Marca: <%= product.brand %></p>
                        </a>
                    </li>



                    <div data-role="popup" id="collapsible<%= product.barcode %>" data-overlay-theme="a" data-theme="a" data-dismissible="false" style="max-width:400px;">
                        <div data-role="header" data-theme="a">
                            <h1>Detalles</h1>
                        </div>
                        <div data-role="content" data-theme="a">
                            <h3>Folio: <%= product.barcode %></h3>
                            <p>Cliente: <%= product.client %></p>
                            <p>Marca: <%= product.brand %></p>
                            <p>Modelo: <%= product.model %></p>
                            <p>Problema: <%= product.description %></p>
                            <p>Costo reparacion: $<%= product.cost %></p>
                            <a href="/<%= product.barcode %>" class="ui-btn">Editar</a>
                            <a href="/delete/<%= product.barcode %>" class="ui-shadow ui-btn ui-corner-all 
                                ui-corner-all" style="color: rgb(254, 0, 0);">Eliminar</a>
                                <a href="#" class="ui-btn ui-btn-a ui-corner-all" data-rel="back">Cancelar</a>   
                        </div>
                    </div>
                <% }) %>
            </ul>
        </div>

        <div data-role="footer">
            <h5>Luisivmaraz 03</h5>
        </div>
    </div>
</body>
</html>
